.goldfinch-component-icon {
  &:after {
    width: 24px;
    height: 24px;
    content: '';
    background-color: var(--bs-cyan);
    mask-image: url(./images/component.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    display: inline-block;
    position: relative;
    top: -1px;
    left: -5px;
  }
}

.cms-menu__list li.current a > .goldfinch-component-icon {
  &:after {
    background-color: #fff;
  }
}
